<h1>Ruby on Rails</h1>
<h2>Edit item<strong> <%= @item.name  %></strong></h2>
<p style="color:darkred"><%=  flash[:error] %></p>
<%= form_tag item_path(@item), method: :put do %>
  <div style="display:flex; flex-direction:column; width :400px">
  <%= label_tag :name %>
  <%= text_field_tag :name, @item.name %>
  <%= label_tag :amount %>
  <%= text_field_tag :amount, @item.amount %>
  <%= label_tag :description %>
  <%= text_field_tag :description %>
  <%= submit_tag "Save", class: "Edit Items" %>
  </div>
<% end %>

<ul>
  <li><strong style="color:cornflowerblue">Price</strong> <%= @item.amount %></li>
  <% if @item.description %> <li><strong style="color:cornflowerblue">Description</strong> <%= @item.description %> </li> <% end %>
  <li><strong style="color:cornflowerblue">Wight</strong> <%= @item.weight %></li>
</ul>
