<h1>Ruby on Rails</h1>
<h2><strong>Form</strong></h2>
<p style="color:darkred"><%=  flash[:error] %></p>
<%= form_with url: "/items", method: :'post' do %>
  <%= label_tag :name %>
  <%= text_field_tag :name %>
  <%= label_tag :amount %>
  <%= text_field_tag :amount %>
  <%= label_tag :description %>
  <%= text_field_tag :description %>
  <%= submit_tag "Add item", class: "Add item" %>
<% end %>


<% render partial: 'shared/email' %>