<h1>Ruby on Rails</h1>
<h2><strong>Form</strong></h2>
<p style="color:darkred"><%=  flash[:error] %></p>
<section class="col-md-12 center">
  <%= simple_form_for @item do |f| %>
    <%= f.input :name, input_html: {class:"form-text"} %>
    <%= f.input :amount, input_html: {class:"form-text"}%>
    <%= f.input :description, label: t("item.description"), input_html:{class:"form-text"} %>
    <br>
    <%= submit_tag "Add item", class: "btn " %>
    <%= f.button :submit, class: "btn btn-primary"  %>
  <% end %>

</section>


<% render partial: 'shared/email' %>