<h1>Ruby on Rails</h1>
<h2><strong>Show Item</strong></h2>
<h4><strong>Name: <%= @item.name %></strong></h4>
<h4><strong>Price: <%=  @item.amount %></strong></h4>

<br>
<%= link_to 'Home', items_path %>
<br>
<br>
<%= link_to "Edit Item #{@item.name }", edit_item_path %>
<br>
<br>
<%= button_to 'DELETE', item_path(@item), method: :delete %>

